@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=block');

@font-face{
 font-family:Anton;
 font-weight:400;
 font-style:normal;
 src: local('Anton'), url(../fonts/Anton-Regular.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:300;
 font-style:normal;
 src: local('Inter'), url(../fonts/Inter-300.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:300;
 font-style:italic;
 src: local('Inter'), url(../fonts/Inter-300-Italic.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:400;
 font-style:normal;
 src: local('Inter'), url(../fonts/Inter-400.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:400;
 font-style:italic;
 src: local('Inter'), url(../fonts/Inter-400-Italic.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:500;
 font-style:normal;
 src: local('Inter'), url(../fonts/Inter-500.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:500;
 font-style:italic;
 src: local('Inter'), url(../fonts/Inter-500-Italic.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:600;
 font-style:normal;
 src: local('Inter'), url(../fonts/Inter-600.woff) format('woff');
 font-display: block;
}

@font-face{
 font-family:Inter;
 font-weight:600;
 font-style:italic;
 src: local('Inter'), url(../fonts/Inter-600-Italic.woff) format('woff');
 font-display: block;
} 

:root {  
 --light: #e6e7eb;
 --dark: #181b1e;
 --grey: #BBBFCA;
 --darkgrey: #495057; 
 --soc1: #393E46;
 --soc2: #BBBFCA; 
 --bgloaderscreen: #C7C8CC;
 --textloadercolor: #3C4048;
 --sizebody: 11.5px;
 --sizetitle:17vw;
 --sizenav:9.5px;
 --font1: 'Anton', sans-serif;	
 --font2: 'Inter', sans-serif;
 --font3: 'Bruno Ace', sans-serif;	
 --marginp: 6rem;
 --fwbtn: 600;
 --fwnav: 500;
 --fwtitle: 400;
 --fwhh: 400;
 --fwbody: 300;
 --fwfooter: 300;
}

.hidden {
 position: absolute;
 overflow: hidden;
 width: 0;
 height: 0;
 pointer-events: none;
}

html{
 background: var(--light);     
 overflow:hidden;
}

body {
 background-color: var(--light);     
 font-family: var(--font2);
 color: var(--dark);
 font-size: var(--sizebody);
 font-weight:var(--fwbody);
 line-height:1.5;
 word-wrap: break-word;
 overflow:hidden;
 height:100%;
 position: relative;
 letter-spacing:.005em;
 text-rendering: optimizeLegibility!important;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.preloader-wrap{
 position: fixed;
 width: 100%;
 height: 200dvh;	
 z-index:50;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.intro-screen__title {
  height: 100%;
  width: 100%;
  display: block;
  top: -0.2rem;
  position: relative;
  background-color: var(--bgloaderscreen);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-screen__title div {
  font-size: 8px;
  color: var(--textloadercolor); 
}

.intro-screen__shape {
  width: 100%;
  margin: -0.5rem 0 0 0;
  position: relative;
}

.shape {
 height: 100dvh;
 width: 100%;
 fill: var(--bgloaderscreen);
 display: block;
}

#loader,
.percentage{
 width: 80%;
 height: 1px;
 position: absolute; 
 top: -50%; 
 bottom: 0; 
 left: 0; 
 right: 0;
 margin: auto; 
 color: var(--light);   
}

#loader:after, .percentage:after {
 content: "";
 display: block;
 width: 100%;
 height: 100%;
 position: absolute;
 top: -50%;
 left: 0; 
}

.percentage {
 color: var(--textloadercolor);
 font-size: 8px;
 font-family: var(--font2);
 font-weight:400;
 z-index:2000; 
 top:-52%;
 text-align: center;
}

.percentage:before{
 content: "[ ";
 display: block;
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: -10px; 
}

.percentage:after{
 content: " ]";
 display: block;
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 right: 0; 
 padding-left:20px;
}

.trackbar {
 width: 100%;
 height: 100%;
 background: rgba(0,0,0, .1);
 color: var(--light);     
 text-align: center;
 overflow: hidden;
 z-index:1000;
 border-radius:4px;
}

.loadbar {
 width: 0%;
 height: 100%;
 background: var(--textloadercolor);
 position:relative;
 top:0;
 overflow: hidden;
 z-index:1000;
}

#start{
 user-select: none;
}

.wrapbtnloader{
 position: relative;
 display:flex;
 justify-content: center;
 align-items: center;  
 margin-top:15rem; 
 z-index:1000000;
} 

#btnload{
 text-transform: none;
 font-family: var(--font2);
 font-size:10.5px;
 font-weight: var(--fwbtn);
 text-align: center;
}

.theme-loader{
 --color-item-bg: transparent;
 --color-button-bg: var(--textloadercolor);
 --color-button-text: var(--bgloaderscreen);
 --button-padding: 1rem 3.5rem .93rem;
 --button-margin: 0;
 --radius-button: 40px;
 --border-button: 0;
}

svg.title, svg.sub, svg.noise2, svg.noise3 {
 width: 0;
 height: 0;
 position: absolute;
 pointer-events: none;
}
	
*, *:before, *:after {
 box-sizing: border-box;
}

h2, h3, h4, h5 {
 font-family:var(--font2);
 font-weight:var(--fwhh);
 letter-spacing:-1px;
}

h2 {
 font-size: 2em; 
}

h3 {
 font-size: 1.75em; 
}

h4 {
 font-size: 1.5em; 
}

h5 {
 font-size: 1.25em;
}

.wrapnav{
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:row;
}

.nav{
 display:flex;
 justify-content:center;
 align-items:center;
 margin-top: 1.5rem;
 padding: 0 .5rem 0;
 visibility:hidden;
 opacity:0; 
} 

#btn-nav-1, #btn-nav-2{
 text-transform: none;
 font-family: var(--font2);
 font-size: var(--sizenav);
 font-weight: var(--fwnav);
 text-align: center;
}

.theme {
 --color-item-bg: transparent;
 --color-button-bg: var(--darkgrey);
 --color-button-text: var(--light);     
 --button-padding: .45rem 2.8rem .35rem;
 --button-margin: 0;
 --radius-button: 40px;
 --border-button: 0;
 font-size: var(--sizenav);
 font-weight: var(--fwnav);
 font-family: var(--font2);
}

.header{
 height:88.5dvh;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction: column;
} 

h1 { 
 display:inline;
 opacity:0;
 visibility:hidden;
 font-family: var(--font1);
 color: var(--dark);
 font-size: var(--sizetitle);
 padding: 0;
 transition: color 4s; 
 line-height:1.05;
 font-weight:var(--fwtitle);
 text-align:center;
 margin-bottom:0;
 text-transform:none;
 left:-3%;
 filter: url(#noisetitle);
}

.photos h1{
 color: var(--light);     
}

.sub-title{
 display:inline-block;
 line-height:2.3;
 font-size:11px;
 font-family: var(--font2);
 color: var(--soc1);
 font-weight:500;
 transition: color 4s;
 text-align:center;
 opacity:0;
 visibility:hidden;
}

.photos .sub-title{
  color:var(--soc2);
}
 
.indicator {
 position: absolute;
 left:5px;
 width: 7px;
 height: 35px;
 border: 1px solid var(--soc1);
 border-radius: 50px;
 transition: border-color 4s, background 4s, color 4s;
 visibility: hidden;
 opacity: 0;
}

.indicator-dot {
 position: absolute;
 width: 4.5px;
 height: 4.5px;
 background: var(--soc1);
 transition: background 4s, color 4s;
 border-radius: 100%;
 margin: auto auto auto .5px;
 animation: animate 2s linear infinite both;
}

.photos .indicator{
 border: 1px solid var(--soc2);
}

.photos .indicator-dot{
 background: var(--soc2);
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  35% {
    opacity: 1;
    transform: translateY(10px);
  }
  65% {
    opacity: 1;
    transform: translateY(22px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

a {
 color: inherit;
 outline: none;
}
a:hover, a:active{
 opacity:1;
 outline: none;
}

.bg {
 background:inherit;
 min-height: 100vh;
 padding: 0;
 transition: background 0s 1.7s, color .6s;
 overflow:hidden;
}

.bio{
 background: var(--light);     
 color: var(--dark);
}

.photos{
 background:var(--dark);
 color: var(--light);     
}

.transition {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
/*display: block;*/
 opacity: 0;
 /*transition: transform 1s cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
 width: 100%;
 height: 100%;
 /*transform: scaleX(0) scaleY(1);*/
 /*transform-origin: 0 0;*/
}

/*.transition-bio {
 background: var(--light);     
 transform-origin:0 ;
}

.transition-photos {
 background: var(--dark);
 transform-origin:100%;
}*/

.bio .transition-bio, .photos .transition-photos{
    opacity: 1;
}

/*.bio .transition-bio {
    transform: scale(1) translateX(0);
}

.photos .transition-photos {
    transform: scale(1) translateX(0);
}*/

main {
 position: relative;
 max-width:86%;
 padding:0 0 30px 0;
 margin:0 auto;
 overflow:hidden;
}

.slide-fade-enter-active {
 transition: 0s;
}

.slide-fade-leave-active {
 transition: all 0.35s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from, .slide-fade-leave-to {
 transform: translateY(3rem);
 opacity: 0;
}

.sub1 {
 color: var(--dark);
}

.sub2 {
 color: var(--light);     
}

p.sub1, p.sub2 {
  text-transform:none;
}

p.sub1 {
 color: var(--dark);
}

p.sub2 {
  color: var(--light);     
}

.prolog{
 font-size:var(--sizebody);
 font-weight:500;
 color:var(--dark);
 font-family:var(--font2);
 text-transform: uppercase;
}

.box3{
 margin-bottom: 3rem;
}

.quote {
 margin:60px auto -60px auto;
 max-width:77%;
 opacity:0;
 visibility:hidden;
 font-family:var(--font2);
 text-align:center;
}

.quote span{
 display: inline-block;
 opacity:0;
 font-size:125%;
 font-weight:400;
 color:inherit;
}

.cite .quote{
 font-family: var(--font2);
 font-weight:400;
 font-size: 65%;
 font-style: italic;
 color: inherit;
 text-align:center;
 margin-bottom: 7rem;
}

.b-text{
 font-size:180%;
 text-transform:uppercase;
 font-family:var(--font1);
 color:var(--dark);
 font-weight:400;
 text-align:center;
 text-align-last:center;
}

.grid {
/* --auto-grid-min-size:10rem;
 display: grid;  
 grid-template-columns: repeat(2, 1fr);
 grid-template-rows:
 gap:3.5vw;	
 masonry;*/
 columns: 2;
 column-fill: balance; 
 column-gap: 3.5vw;
 box-sizing: border-box;
}

.item {
 margin-bottom: 3.5vw;
 position: relative;
 width: 100%;
 height:100%;
 visibility: hidden;
 overflow: hidden;
 --x: -1.25%;
}

.item::after {
 background-image: url("../img/ink-transition-sprite.png");  
 background-size: 100% 100%;
 content: "";
 height: 100%;
 left: 50%;
 position: absolute;
 top: 0;
 transform: translateX(var(--x));
 width: 4000%;
 filter: brightness(0) saturate(100%) invert(8%) sepia(1%) saturate(7054%) hue-rotate(168deg) brightness(95%) contrast(93%);
}

img {
 object-fit: cover;
 width: 100%;
 height: 100%;
 border-radius:20px;
}

.sc {	
 position:relative;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction: row;
 margin:60px auto 60px auto;
}

.item-soc { 
 display:flex;
 justify-content:center;
 align-items:center;
 margin:1rem;
 border-radius: 50%;
 padding: .4rem .3rem .3rem;
 opacity:0;
 visibility: hidden;
}

.pl{
 visibility:hidden;
 opacity:0;
}

.one{
 opacity:0;
 visibility: hidden;
 margin-top:0;
 margin-bottom:5rem;
 text-align:center;
 text-transform: uppercase;
 font-weight:400;
 filter: url(#noise2);
 letter-spacing:-1px;
 font-family: var(--font3);
}

.one2{
 opacity:0;
 visibility: hidden;
 margin-top:0;
 margin-bottom:0;
 text-align:center;
 font-family: var(--font3);
 font-weight:400;
 letter-spacing:-1px;
 filter: url(#noise3);
}

.two{
 margin-top:var(--marginp);
 margin-bottom: var(--marginp);
 opacity:0;
 visibility:hidden;
}

.aboutme{
 margin-top:0;
 margin-bottom: 0;
 opacity:0;
 visibility:hidden;
}

.gr {
 position:relative;
 display:block;
 margin:0px auto -17px auto;
 width:0;
 height:.02rem;
 opacity:0;
 background:var(--dark);
 transition:background 1s;
 visibility:hidden;
}

.photos .gr{
 background:var(--light);     
 transition:background 1s;
}

.vline{
 position:relative;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-bottom:17rem;
}

.vl{
 border-left: .02rem solid var(--dark);
 height: 0;
 position: absolute;
 left: 50%;
 top: 0;
 visibility: hidden
}

.photos .vl{
 border-left-color: var(--light);     
}

.line {
 position:absolute;
 display:block;
 width:0;
 height:.02rem;
 opacity:0;
 background:var(--dark);
 transition:background 1s;
 visibility:hidden;
}

.photos .line{
 background:var(--light);     
 transition:background 1s;
}

ul{
 padding-left:15px;
 padding-top:25px;
 padding-bottom: var(--marginp);
}

li.about{
 list-style-type:decimal;
 padding-top:10px;
 margin-bottom: -3px;
}

.footer {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 0 0 0;
 font-family: var(--font2);
 font-size:var(--sizenav);
 font-weight: var(--fwfooter);
 text-decoration: none;
 opacity: 0;
 visibility: hidden;
}

.footer span a{
 text-decoration: none;
}

.footer span, .footer span a {
 color: var(--dark);
}

.photos .footer span, .photos .footer span a {
 color: var(--light);     
}

@media(min-width:500px){
 main{
  max-width:60%;
  }
 h1{
  font-size:10vw;
 }
}

@media only screen and (orientation: landscape) {
.percentage {
 top:-53.5%;
}
}
